openapi: 3.2.0
info:
  title: Twitch IGDB Genres API
  description: The Internet Game Database (IGDB) API provides comprehensive video game information including metadata, ratings, screenshots, videos, and media. IGDB is owned and operated by Twitch and uses Twitch OAuth for authentication. The API uses a POST-based query language called Apicalypse.
  version: '4.0'
  contact:
    name: IGDB Support
    url: https://api-docs.igdb.com/
  termsOfService: https://www.twitch.tv/p/legal/terms-of-service/
servers:
- url: https://api.igdb.com/v4
  description: IGDB API v4 Production
security:
- oauth2: []
tags:
- name: Genres
  description: Game genre data
paths:
  /genres:
    post:
      operationId: queryGenres
      summary: Twitch Query Genres
      description: Query game genres using Apicalypse query language.
      tags:
      - Genres
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Genres returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Genre'
components:
  schemas:
    Genre:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        url:
          type: string
        created_at:
          type: integer
        updated_at:
          type: integer
  parameters:
    clientId:
      name: Client-ID
      in: header
      required: true
      schema:
        type: string
      description: Twitch application client ID
  securitySchemes:
    oauth2:
      type: oauth2
      description: Twitch OAuth2 Client Credentials for IGDB access
      flows:
        clientCredentials:
          tokenUrl: https://id.twitch.tv/oauth2/token
          scopes: {}
externalDocs:
  description: IGDB API Documentation
  url: https://api-docs.igdb.com/
