openapi: 3.2.0
info:
  title: Twitch Helix Bits API
  description: The Twitch Helix API provides programmatic access to Twitch platform features including streams, users, videos, clips, channels, chat, subscriptions, moderation, polls, predictions, and more.
  version: '1.0'
  contact:
    name: Twitch Developer Support
    url: https://dev.twitch.tv/support/
  termsOfService: https://www.twitch.tv/p/legal/terms-of-service/
servers:
- url: https://api.twitch.tv/helix
  description: Twitch Helix API Production
security:
- oauth2: []
- appAccessToken: []
tags:
- name: Bits
  description: Retrieve Bits leaderboard and Cheermote information
paths:
  /bits/leaderboard:
    get:
      operationId: getBitsLeaderboard
      summary: Twitch Get Bits Leaderboard
      description: Gets the Bits leaderboard for the authenticated broadcaster.
      tags:
      - Bits
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: count
        in: query
        schema:
          type: integer
          default: 10
          maximum: 100
        description: Number of results to return
      - name: period
        in: query
        schema:
          type: string
          enum:
          - day
          - week
          - month
          - year
          - all
        description: Time period for the leaderboard
      - name: started_at
        in: query
        schema:
          type: string
          format: date-time
        description: Start date for the leaderboard period
      - name: user_id
        in: query
        schema:
          type: string
        description: Filter by specific user ID
      responses:
        '200':
          description: Bits leaderboard returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BitsLeaderboardEntry'
                  date_range:
                    type: object
                    properties:
                      started_at:
                        type: string
                        format: date-time
                      ended_at:
                        type: string
                        format: date-time
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
  /bits/cheermotes:
    get:
      operationId: getCheermotes
      summary: Twitch Get Cheermotes
      description: Gets a list of Cheermotes that users can use to cheer Bits.
      tags:
      - Bits
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: broadcaster_id
        in: query
        schema:
          type: string
        description: The ID of the broadcaster whose Cheermotes to retrieve
      responses:
        '200':
          description: Cheermotes returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Cheermote'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        status:
          type: integer
        message:
          type: string
    BitsLeaderboardEntry:
      type: object
      properties:
        user_id:
          type: string
        user_login:
          type: string
        user_name:
          type: string
        rank:
          type: integer
        score:
          type: integer
    Cheermote:
      type: object
      properties:
        prefix:
          type: string
        tiers:
          type: array
          items:
            type: object
            properties:
              min_bits:
                type: integer
              id:
                type: string
              color:
                type: string
              can_cheer:
                type: boolean
              show_in_bits_card:
                type: boolean
        type:
          type: string
        order:
          type: integer
        last_updated:
          type: string
          format: date-time
        is_charitable:
          type: boolean
  parameters:
    clientId:
      name: Client-Id
      in: header
      required: true
      schema:
        type: string
      description: Your registered application's client ID
  responses:
    Unauthorized:
      description: Authentication required or token is invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code Flow
      flows:
        authorizationCode:
          authorizationUrl: https://id.twitch.tv/oauth2/authorize
          tokenUrl: https://id.twitch.tv/oauth2/token
          scopes:
            analytics:read:extensions: View analytics data for extensions
            analytics:read:games: View analytics data for games
            bits:read: View Bits information
            channel:edit:commercial: Run commercials on a channel
            channel:manage:broadcast: Manage a channel's broadcast configuration
            channel:manage:moderators: Add and remove channel moderators
            channel:manage:polls: Manage a channel's polls
            channel:manage:predictions: Manage a channel's predictions
            channel:manage:raids: Manage a channel's raids
            channel:manage:redemptions: Manage channel points custom rewards and their redemptions
            channel:manage:schedule: Manage a channel's stream schedule
            channel:manage:videos: Manage a channel's videos
            channel:read:editors: View a channel's editors
            channel:read:goals: View a channel's goals
            channel:read:hype_train: View Hype Train information
            channel:read:polls: View a channel's polls
            channel:read:predictions: View a channel's predictions
            channel:read:redemptions: View channel points custom rewards and their redemptions
            channel:read:stream_key: Read an authorized user's stream key
            channel:read:subscriptions: View a channel's subscribers
            chat:edit: Send live stream chat messages
            chat:read: View live stream chat messages
            clips:edit: Create clips
            moderation:read: View a channel's moderation data
            moderator:manage:announcements: Send announcements in channels
            moderator:manage:automod: Manage messages held by AutoMod
            moderator:manage:banned_users: Ban and unban users
            moderator:manage:blocked_terms: Manage blocked terms
            moderator:manage:chat_messages: Delete chat messages
            moderator:manage:chat_settings: Manage chat settings
            moderator:read:chatters: View the chatters in a channel
            moderator:read:followers: Read the followers of a channel
            user:edit: Manage a user's account
            user:manage:blocked_users: Manage user's block list
            user:manage:whispers: Send whisper messages
            user:read:blocked_users: View a user's block list
            user:read:broadcast: View a user's broadcasting configuration
            user:read:email: View a user's email address
            user:read:follows: View the list of channels a user follows
            user:read:subscriptions: View a user's subscriptions
            whispers:read: View whisper messages
    appAccessToken:
      type: http
      scheme: bearer
      description: App Access Token obtained via Client Credentials grant
externalDocs:
  description: Twitch API Reference
  url: https://dev.twitch.tv/docs/api/reference
