openapi: 3.2.0
info:
  title: Twitch Search API
  termsOfService: https://www.twitch.tv/p/legal/terms-of-service/
  version: '1.0'
  description: 'Operations tagged Search across 2 of this provider''s published API definitions: twitch-helix-openapi.yml, twitch-igdb-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.twitch.tv/helix
  description: Twitch Helix API Production
- url: https://api.igdb.com/v4
  description: IGDB API v4 Production
tags:
- name: Search
  description: Search for channels and categories
paths:
  /search/categories:
    get:
      operationId: searchCategories
      summary: Twitch Search Categories
      description: Gets the games or categories that match the specified query.
      tags:
      - Search
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: query
        in: query
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/first'
      - $ref: '#/components/parameters/after'
      responses:
        '200':
          description: Categories returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Game'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
      security:
      - oauth2: []
      - appAccessToken: []
    servers:
    - url: https://api.twitch.tv/helix
      description: Twitch Helix API Production
  /search/channels:
    get:
      operationId: searchChannels
      summary: Twitch Search Channels
      description: Gets the channels that match the specified query.
      tags:
      - Search
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: query
        in: query
        required: true
        schema:
          type: string
      - name: live_only
        in: query
        schema:
          type: boolean
      - $ref: '#/components/parameters/first'
      - $ref: '#/components/parameters/after'
      responses:
        '200':
          description: Channels returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChannelSearchResult'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
      security:
      - oauth2: []
      - appAccessToken: []
    servers:
    - url: https://api.twitch.tv/helix
      description: Twitch Helix API Production
  /search:
    post:
      operationId: multiSearch
      summary: Twitch Multi-Search
      description: Search across multiple IGDB resources simultaneously.
      tags:
      - Search
      parameters:
      - $ref: '#/components/parameters/clientId_2'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Search results returned
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    game:
                      type: integer
      security:
      - oauth2: []
    servers:
    - url: https://api.igdb.com/v4
      description: IGDB API v4 Production
components:
  schemas:
    Game:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        box_art_url:
          type: string
        igdb_id:
          type: string
    ChannelSearchResult:
      type: object
      properties:
        broadcaster_language:
          type: string
        broadcaster_login:
          type: string
        display_name:
          type: string
        game_id:
          type: string
        game_name:
          type: string
        id:
          type: string
        is_live:
          type: boolean
        tags:
          type: array
          items:
            type: string
        thumbnail_url:
          type: string
        title:
          type: string
        started_at:
          type: string
          format: date-time
    Pagination:
      type: object
      properties:
        cursor:
          type: string
          description: Cursor value for pagination
  parameters:
    clientId:
      name: Client-Id
      in: header
      required: true
      schema:
        type: string
      description: Your registered application's client ID
    first:
      name: first
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100
      description: Maximum number of items to return
    after:
      name: after
      in: query
      schema:
        type: string
      description: Cursor for forward pagination
    clientId_2:
      name: Client-ID
      in: header
      required: true
      schema:
        type: string
      description: Twitch application client ID
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code Flow
      flows:
        authorizationCode:
          authorizationUrl: https://id.twitch.tv/oauth2/authorize
          tokenUrl: https://id.twitch.tv/oauth2/token
          scopes:
            analytics:read:extensions: View analytics data for extensions
            analytics:read:games: View analytics data for games
            bits:read: View Bits information
            channel:edit:commercial: Run commercials on a channel
            channel:manage:broadcast: Manage a channel's broadcast configuration
            channel:manage:moderators: Add and remove channel moderators
            channel:manage:polls: Manage a channel's polls
            channel:manage:predictions: Manage a channel's predictions
            channel:manage:raids: Manage a channel's raids
            channel:manage:redemptions: Manage channel points custom rewards and their redemptions
            channel:manage:schedule: Manage a channel's stream schedule
            channel:manage:videos: Manage a channel's videos
            channel:read:editors: View a channel's editors
            channel:read:goals: View a channel's goals
            channel:read:hype_train: View Hype Train information
            channel:read:polls: View a channel's polls
            channel:read:predictions: View a channel's predictions
            channel:read:redemptions: View channel points custom rewards and their redemptions
            channel:read:stream_key: Read an authorized user's stream key
            channel:read:subscriptions: View a channel's subscribers
            chat:edit: Send live stream chat messages
            chat:read: View live stream chat messages
            clips:edit: Create clips
            moderation:read: View a channel's moderation data
            moderator:manage:announcements: Send announcements in channels
            moderator:manage:automod: Manage messages held by AutoMod
            moderator:manage:banned_users: Ban and unban users
            moderator:manage:blocked_terms: Manage blocked terms
            moderator:manage:chat_messages: Delete chat messages
            moderator:manage:chat_settings: Manage chat settings
            moderator:read:chatters: View the chatters in a channel
            moderator:read:followers: Read the followers of a channel
            user:edit: Manage a user's account
            user:manage:blocked_users: Manage user's block list
            user:manage:whispers: Send whisper messages
            user:read:blocked_users: View a user's block list
            user:read:broadcast: View a user's broadcasting configuration
            user:read:email: View a user's email address
            user:read:follows: View the list of channels a user follows
            user:read:subscriptions: View a user's subscriptions
            whispers:read: View whisper messages
    appAccessToken:
      type: http
      scheme: bearer
      description: App Access Token obtained via Client Credentials grant
x-refined-from:
- twitch-helix-openapi.yml
- twitch-igdb-openapi.yml
