openapi: 3.2.0
info:
  title: Twitch IGDB Media API
  description: The Internet Game Database (IGDB) API provides comprehensive video game information including metadata, ratings, screenshots, videos, and media. IGDB is owned and operated by Twitch and uses Twitch OAuth for authentication. The API uses a POST-based query language called Apicalypse.
  version: '4.0'
  contact:
    name: IGDB Support
    url: https://api-docs.igdb.com/
  termsOfService: https://www.twitch.tv/p/legal/terms-of-service/
servers:
- url: https://api.igdb.com/v4
  description: IGDB API v4 Production
security:
- oauth2: []
tags:
- name: Media
  description: Screenshots, artwork, and videos
paths:
  /screenshots:
    post:
      operationId: queryScreenshots
      summary: Twitch Query Screenshots
      description: Query game screenshots using Apicalypse query language.
      tags:
      - Media
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Screenshots returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Screenshot'
  /artworks:
    post:
      operationId: queryArtworks
      summary: Twitch Query Artworks
      description: Query game artworks using Apicalypse query language.
      tags:
      - Media
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Artworks returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Artwork'
  /game_videos:
    post:
      operationId: queryGameVideos
      summary: Twitch Query Game Videos
      description: Query game video references using Apicalypse query language.
      tags:
      - Media
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Game videos returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameVideo'
  /covers:
    post:
      operationId: queryCovers
      summary: Twitch Query Covers
      description: Query game cover art using Apicalypse query language.
      tags:
      - Media
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Covers returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cover'
components:
  parameters:
    clientId:
      name: Client-ID
      in: header
      required: true
      schema:
        type: string
      description: Twitch application client ID
  schemas:
    GameVideo:
      type: object
      properties:
        id:
          type: integer
        game:
          type: integer
        name:
          type: string
        video_id:
          type: string
          description: YouTube video ID
    Screenshot:
      type: object
      properties:
        id:
          type: integer
        game:
          type: integer
        image_id:
          type: string
        url:
          type: string
        width:
          type: integer
        height:
          type: integer
    Cover:
      type: object
      properties:
        id:
          type: integer
        game:
          type: integer
        image_id:
          type: string
        url:
          type: string
        width:
          type: integer
        height:
          type: integer
    Artwork:
      type: object
      properties:
        id:
          type: integer
        game:
          type: integer
        image_id:
          type: string
        url:
          type: string
        width:
          type: integer
        height:
          type: integer
  securitySchemes:
    oauth2:
      type: oauth2
      description: Twitch OAuth2 Client Credentials for IGDB access
      flows:
        clientCredentials:
          tokenUrl: https://id.twitch.tv/oauth2/token
          scopes: {}
externalDocs:
  description: IGDB API Documentation
  url: https://api-docs.igdb.com/
