openapi: 3.2.0
info:
  title: Twitch Helix Channel Points API
  description: The Twitch Helix API provides programmatic access to Twitch platform features including streams, users, videos, clips, channels, chat, subscriptions, moderation, polls, predictions, and more.
  version: '1.0'
  contact:
    name: Twitch Developer Support
    url: https://dev.twitch.tv/support/
  termsOfService: https://www.twitch.tv/p/legal/terms-of-service/
servers:
- url: https://api.twitch.tv/helix
  description: Twitch Helix API Production
security:
- oauth2: []
- appAccessToken: []
tags:
- name: Channel Points
  description: Manage custom channel point rewards and redemptions
paths:
  /channel_points/custom_rewards:
    get:
      operationId: getCustomRewards
      summary: Twitch Get Custom Reward
      description: Gets a list of custom rewards for the specified broadcaster.
      tags:
      - Channel Points
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: broadcaster_id
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: query
        schema:
          type: string
      - name: only_manageable_rewards
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Custom rewards returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomReward'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createCustomReward
      summary: Twitch Create Custom Rewards
      description: Creates a custom reward for the specified broadcaster.
      tags:
      - Channel Points
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: broadcaster_id
        in: query
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomRewardInput'
      responses:
        '200':
          description: Custom reward created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomReward'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    BadRequest:
      description: The request was invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required or token is invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        status:
          type: integer
        message:
          type: string
    CustomReward:
      type: object
      properties:
        broadcaster_id:
          type: string
        broadcaster_login:
          type: string
        broadcaster_name:
          type: string
        id:
          type: string
        title:
          type: string
        prompt:
          type: string
        cost:
          type: integer
        image:
          type: object
          nullable: true
          properties:
            url_1x:
              type: string
            url_2x:
              type: string
            url_4x:
              type: string
        background_color:
          type: string
        is_enabled:
          type: boolean
        is_user_input_required:
          type: boolean
        max_per_stream_setting:
          type: object
          properties:
            is_enabled:
              type: boolean
            max_per_stream:
              type: integer
        max_per_user_per_stream_setting:
          type: object
          properties:
            is_enabled:
              type: boolean
            max_per_user_per_stream:
              type: integer
        global_cooldown_setting:
          type: object
          properties:
            is_enabled:
              type: boolean
            global_cooldown_seconds:
              type: integer
        is_paused:
          type: boolean
        is_in_stock:
          type: boolean
        should_redemptions_skip_request_queue:
          type: boolean
        redemptions_redeemed_current_stream:
          type: integer
          nullable: true
        cooldown_expires_at:
          type: string
          nullable: true
          format: date-time
    CustomRewardInput:
      type: object
      required:
      - title
      - cost
      properties:
        title:
          type: string
        cost:
          type: integer
        prompt:
          type: string
        is_enabled:
          type: boolean
        background_color:
          type: string
        is_user_input_required:
          type: boolean
        is_max_per_stream_enabled:
          type: boolean
        max_per_stream:
          type: integer
        is_max_per_user_per_stream_enabled:
          type: boolean
        max_per_user_per_stream:
          type: integer
        is_global_cooldown_enabled:
          type: boolean
        global_cooldown_seconds:
          type: integer
        should_redemptions_skip_request_queue:
          type: boolean
  parameters:
    clientId:
      name: Client-Id
      in: header
      required: true
      schema:
        type: string
      description: Your registered application's client ID
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code Flow
      flows:
        authorizationCode:
          authorizationUrl: https://id.twitch.tv/oauth2/authorize
          tokenUrl: https://id.twitch.tv/oauth2/token
          scopes:
            analytics:read:extensions: View analytics data for extensions
            analytics:read:games: View analytics data for games
            bits:read: View Bits information
            channel:edit:commercial: Run commercials on a channel
            channel:manage:broadcast: Manage a channel's broadcast configuration
            channel:manage:moderators: Add and remove channel moderators
            channel:manage:polls: Manage a channel's polls
            channel:manage:predictions: Manage a channel's predictions
            channel:manage:raids: Manage a channel's raids
            channel:manage:redemptions: Manage channel points custom rewards and their redemptions
            channel:manage:schedule: Manage a channel's stream schedule
            channel:manage:videos: Manage a channel's videos
            channel:read:editors: View a channel's editors
            channel:read:goals: View a channel's goals
            channel:read:hype_train: View Hype Train information
            channel:read:polls: View a channel's polls
            channel:read:predictions: View a channel's predictions
            channel:read:redemptions: View channel points custom rewards and their redemptions
            channel:read:stream_key: Read an authorized user's stream key
            channel:read:subscriptions: View a channel's subscribers
            chat:edit: Send live stream chat messages
            chat:read: View live stream chat messages
            clips:edit: Create clips
            moderation:read: View a channel's moderation data
            moderator:manage:announcements: Send announcements in channels
            moderator:manage:automod: Manage messages held by AutoMod
            moderator:manage:banned_users: Ban and unban users
            moderator:manage:blocked_terms: Manage blocked terms
            moderator:manage:chat_messages: Delete chat messages
            moderator:manage:chat_settings: Manage chat settings
            moderator:read:chatters: View the chatters in a channel
            moderator:read:followers: Read the followers of a channel
            user:edit: Manage a user's account
            user:manage:blocked_users: Manage user's block list
            user:manage:whispers: Send whisper messages
            user:read:blocked_users: View a user's block list
            user:read:broadcast: View a user's broadcasting configuration
            user:read:email: View a user's email address
            user:read:follows: View the list of channels a user follows
            user:read:subscriptions: View a user's subscriptions
            whispers:read: View whisper messages
    appAccessToken:
      type: http
      scheme: bearer
      description: App Access Token obtained via Client Credentials grant
externalDocs:
  description: Twitch API Reference
  url: https://dev.twitch.tv/docs/api/reference
