openapi: 3.2.0
info:
  title: Twitch Helix Streams API
  description: The Twitch Helix API provides programmatic access to Twitch platform features including streams, users, videos, clips, channels, chat, subscriptions, moderation, polls, predictions, and more.
  version: '1.0'
  contact:
    name: Twitch Developer Support
    url: https://dev.twitch.tv/support/
  termsOfService: https://www.twitch.tv/p/legal/terms-of-service/
servers:
- url: https://api.twitch.tv/helix
  description: Twitch Helix API Production
security:
- oauth2: []
- appAccessToken: []
tags:
- name: Streams
  description: Retrieve stream information and markers
paths:
  /streams:
    get:
      operationId: getStreams
      summary: Twitch Get Streams
      description: Gets a list of all streams matching the provided filters.
      tags:
      - Streams
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: user_id
        in: query
        schema:
          type: string
      - name: user_login
        in: query
        schema:
          type: string
      - name: game_id
        in: query
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
          enum:
          - all
          - live
      - name: language
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/first'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      responses:
        '200':
          description: Streams returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stream'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /streams/followed:
    get:
      operationId: getFollowedStreams
      summary: Twitch Get Followed Streams
      description: Gets the list of streams that the authenticated user follows.
      tags:
      - Streams
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: user_id
        in: query
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/first'
      - $ref: '#/components/parameters/after'
      responses:
        '200':
          description: Followed streams returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stream'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /streams/markers:
    get:
      operationId: getStreamMarkers
      summary: Twitch Get Stream Markers
      description: Gets a list of markers from the user's most recent stream or from a specific VOD.
      tags:
      - Streams
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: user_id
        in: query
        schema:
          type: string
      - name: video_id
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/first'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      responses:
        '200':
          description: Stream markers returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StreamMarkerGroup'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      operationId: createStreamMarker
      summary: Twitch Create Stream Marker
      description: Creates a marker in the stream at the current timestamp.
      tags:
      - Streams
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user_id
              properties:
                user_id:
                  type: string
                description:
                  type: string
                  maxLength: 140
      responses:
        '200':
          description: Stream marker created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StreamMarker'
  /streams/key:
    get:
      operationId: getStreamKey
      summary: Twitch Get Stream Key
      description: Gets the broadcaster's stream key.
      tags:
      - Streams
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: broadcaster_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Stream key returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        stream_key:
                          type: string
  /tags/streams:
    get:
      operationId: getStreamTags
      summary: Twitch Get Stream Tags
      description: Gets the list of stream tags for the specified broadcaster.
      tags:
      - Streams
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: broadcaster_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Stream tags returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StreamTag'
components:
  parameters:
    clientId:
      name: Client-Id
      in: header
      required: true
      schema:
        type: string
      description: Your registered application's client ID
    before:
      name: before
      in: query
      schema:
        type: string
      description: Cursor for backward pagination
    first:
      name: first
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100
      description: Maximum number of items to return
    after:
      name: after
      in: query
      schema:
        type: string
      description: Cursor for forward pagination
  schemas:
    StreamTag:
      type: object
      properties:
        tag_id:
          type: string
        is_auto:
          type: boolean
        localization_names:
          type: object
          additionalProperties:
            type: string
        localization_descriptions:
          type: object
          additionalProperties:
            type: string
    StreamMarker:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        description:
          type: string
        position_seconds:
          type: integer
    Stream:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        user_login:
          type: string
        user_name:
          type: string
        game_id:
          type: string
        game_name:
          type: string
        type:
          type: string
          enum:
          - live
          - ''
        title:
          type: string
        viewer_count:
          type: integer
        started_at:
          type: string
          format: date-time
        language:
          type: string
        thumbnail_url:
          type: string
        tags:
          type: array
          items:
            type: string
        is_mature:
          type: boolean
    Pagination:
      type: object
      properties:
        cursor:
          type: string
          description: Cursor value for pagination
    StreamMarkerGroup:
      type: object
      properties:
        user_id:
          type: string
        user_name:
          type: string
        user_login:
          type: string
        videos:
          type: array
          items:
            type: object
            properties:
              video_id:
                type: string
              markers:
                type: array
                items:
                  $ref: '#/components/schemas/StreamMarker'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code Flow
      flows:
        authorizationCode:
          authorizationUrl: https://id.twitch.tv/oauth2/authorize
          tokenUrl: https://id.twitch.tv/oauth2/token
          scopes:
            analytics:read:extensions: View analytics data for extensions
            analytics:read:games: View analytics data for games
            bits:read: View Bits information
            channel:edit:commercial: Run commercials on a channel
            channel:manage:broadcast: Manage a channel's broadcast configuration
            channel:manage:moderators: Add and remove channel moderators
            channel:manage:polls: Manage a channel's polls
            channel:manage:predictions: Manage a channel's predictions
            channel:manage:raids: Manage a channel's raids
            channel:manage:redemptions: Manage channel points custom rewards and their redemptions
            channel:manage:schedule: Manage a channel's stream schedule
            channel:manage:videos: Manage a channel's videos
            channel:read:editors: View a channel's editors
            channel:read:goals: View a channel's goals
            channel:read:hype_train: View Hype Train information
            channel:read:polls: View a channel's polls
            channel:read:predictions: View a channel's predictions
            channel:read:redemptions: View channel points custom rewards and their redemptions
            channel:read:stream_key: Read an authorized user's stream key
            channel:read:subscriptions: View a channel's subscribers
            chat:edit: Send live stream chat messages
            chat:read: View live stream chat messages
            clips:edit: Create clips
            moderation:read: View a channel's moderation data
            moderator:manage:announcements: Send announcements in channels
            moderator:manage:automod: Manage messages held by AutoMod
            moderator:manage:banned_users: Ban and unban users
            moderator:manage:blocked_terms: Manage blocked terms
            moderator:manage:chat_messages: Delete chat messages
            moderator:manage:chat_settings: Manage chat settings
            moderator:read:chatters: View the chatters in a channel
            moderator:read:followers: Read the followers of a channel
            user:edit: Manage a user's account
            user:manage:blocked_users: Manage user's block list
            user:manage:whispers: Send whisper messages
            user:read:blocked_users: View a user's block list
            user:read:broadcast: View a user's broadcasting configuration
            user:read:email: View a user's email address
            user:read:follows: View the list of channels a user follows
            user:read:subscriptions: View a user's subscriptions
            whispers:read: View whisper messages
    appAccessToken:
      type: http
      scheme: bearer
      description: App Access Token obtained via Client Credentials grant
externalDocs:
  description: Twitch API Reference
  url: https://dev.twitch.tv/docs/api/reference
