openapi: 3.2.0
info:
  title: Twitch Helix Users API
  description: The Twitch Helix API provides programmatic access to Twitch platform features including streams, users, videos, clips, channels, chat, subscriptions, moderation, polls, predictions, and more.
  version: '1.0'
  contact:
    name: Twitch Developer Support
    url: https://dev.twitch.tv/support/
  termsOfService: https://www.twitch.tv/p/legal/terms-of-service/
servers:
- url: https://api.twitch.tv/helix
  description: Twitch Helix API Production
security:
- oauth2: []
- appAccessToken: []
tags:
- name: Users
  description: Manage user information and blocks
paths:
  /users:
    get:
      operationId: getUsers
      summary: Twitch Get Users
      description: Gets information about one or more Twitch users.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: id
        in: query
        schema:
          type: string
      - name: login
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Users returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: updateUser
      summary: Twitch Update User
      description: Updates the authenticated user's information.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: description
        in: query
        schema:
          type: string
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
  /users/blocks:
    get:
      operationId: getUserBlockList
      summary: Twitch Get User Block List
      description: Gets the list of users the authenticated user has blocked.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: broadcaster_id
        in: query
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/first'
      - $ref: '#/components/parameters/after'
      responses:
        '200':
          description: Block list returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BlockedUser'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    put:
      operationId: blockUser
      summary: Twitch Block User
      description: Blocks the specified user from interacting with the broadcaster.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: target_user_id
        in: query
        required: true
        schema:
          type: string
      - name: source_context
        in: query
        schema:
          type: string
          enum:
          - chat
          - whisper
      - name: reason
        in: query
        schema:
          type: string
          enum:
          - spam
          - harassment
          - other
      responses:
        '204':
          description: User blocked successfully
    delete:
      operationId: unblockUser
      summary: Twitch Unblock User
      description: Removes the user from the broadcaster's block list.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: target_user_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '204':
          description: User unblocked successfully
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        login:
          type: string
        display_name:
          type: string
        type:
          type: string
          enum:
          - admin
          - global_mod
          - staff
          - ''
        broadcaster_type:
          type: string
          enum:
          - affiliate
          - partner
          - ''
        description:
          type: string
        profile_image_url:
          type: string
        offline_image_url:
          type: string
        view_count:
          type: integer
          deprecated: true
        email:
          type: string
        created_at:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        error:
          type: string
        status:
          type: integer
        message:
          type: string
    BlockedUser:
      type: object
      properties:
        user_id:
          type: string
        user_login:
          type: string
        display_name:
          type: string
    Pagination:
      type: object
      properties:
        cursor:
          type: string
          description: Cursor value for pagination
  parameters:
    clientId:
      name: Client-Id
      in: header
      required: true
      schema:
        type: string
      description: Your registered application's client ID
    first:
      name: first
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100
      description: Maximum number of items to return
    after:
      name: after
      in: query
      schema:
        type: string
      description: Cursor for forward pagination
  responses:
    Unauthorized:
      description: Authentication required or token is invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code Flow
      flows:
        authorizationCode:
          authorizationUrl: https://id.twitch.tv/oauth2/authorize
          tokenUrl: https://id.twitch.tv/oauth2/token
          scopes:
            analytics:read:extensions: View analytics data for extensions
            analytics:read:games: View analytics data for games
            bits:read: View Bits information
            channel:edit:commercial: Run commercials on a channel
            channel:manage:broadcast: Manage a channel's broadcast configuration
            channel:manage:moderators: Add and remove channel moderators
            channel:manage:polls: Manage a channel's polls
            channel:manage:predictions: Manage a channel's predictions
            channel:manage:raids: Manage a channel's raids
            channel:manage:redemptions: Manage channel points custom rewards and their redemptions
            channel:manage:schedule: Manage a channel's stream schedule
            channel:manage:videos: Manage a channel's videos
            channel:read:editors: View a channel's editors
            channel:read:goals: View a channel's goals
            channel:read:hype_train: View Hype Train information
            channel:read:polls: View a channel's polls
            channel:read:predictions: View a channel's predictions
            channel:read:redemptions: View channel points custom rewards and their redemptions
            channel:read:stream_key: Read an authorized user's stream key
            channel:read:subscriptions: View a channel's subscribers
            chat:edit: Send live stream chat messages
            chat:read: View live stream chat messages
            clips:edit: Create clips
            moderation:read: View a channel's moderation data
            moderator:manage:announcements: Send announcements in channels
            moderator:manage:automod: Manage messages held by AutoMod
            moderator:manage:banned_users: Ban and unban users
            moderator:manage:blocked_terms: Manage blocked terms
            moderator:manage:chat_messages: Delete chat messages
            moderator:manage:chat_settings: Manage chat settings
            moderator:read:chatters: View the chatters in a channel
            moderator:read:followers: Read the followers of a channel
            user:edit: Manage a user's account
            user:manage:blocked_users: Manage user's block list
            user:manage:whispers: Send whisper messages
            user:read:blocked_users: View a user's block list
            user:read:broadcast: View a user's broadcasting configuration
            user:read:email: View a user's email address
            user:read:follows: View the list of channels a user follows
            user:read:subscriptions: View a user's subscriptions
            whispers:read: View whisper messages
    appAccessToken:
      type: http
      scheme: bearer
      description: App Access Token obtained via Client Credentials grant
externalDocs:
  description: Twitch API Reference
  url: https://dev.twitch.tv/docs/api/reference
