openapi: 3.1.0
info:
  title: Twitch Drops Ads Pubsub API
  description: APIs for game developers to create and manage Drops campaigns that grant in-game rewards to Twitch viewers watching streamers play their game. Drops campaigns are managed through the Twitch Developer Console and fulfilled via the Helix API entitlements endpoints.
  version: '1.0'
  contact:
    name: Twitch Developer Support
    url: https://dev.twitch.tv/support/
  termsOfService: https://www.twitch.tv/p/legal/terms-of-service/
servers:
- url: https://api.twitch.tv/helix
  description: Twitch Helix API Production
security:
- oauth2: []
tags:
- name: Pubsub
  description: Extension PubSub messaging
paths:
  /extensions/pubsub:
    post:
      operationId: sendExtensionPubSubMessage
      summary: Twitch Send Extension PubSub Message
      description: Sends a PubSub message to one or more channels the extension is installed on.
      tags:
      - Pubsub
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - target
              - broadcaster_id
              - message
              properties:
                target:
                  type: array
                  items:
                    type: string
                  description: Target recipients (broadcast, global, or whisper-<user_id>)
                broadcaster_id:
                  type: string
                is_global_broadcast:
                  type: boolean
                message:
                  type: string
                  maxLength: 5120
      responses:
        '204':
          description: PubSub message sent successfully
components:
  parameters:
    clientId:
      name: Client-Id
      in: header
      required: true
      schema:
        type: string
      description: Your registered application's client ID
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://id.twitch.tv/oauth2/token
          scopes: {}
externalDocs:
  description: Twitch Drops Documentation
  url: https://dev.twitch.tv/docs/drops/
