openapi: 3.2.0
info:
  title: Twitch Helix Conduits API
  description: The Twitch Helix API provides programmatic access to Twitch platform features including streams, users, videos, clips, channels, chat, subscriptions, moderation, polls, predictions, and more.
  version: '1.0'
  contact:
    name: Twitch Developer Support
    url: https://dev.twitch.tv/support/
  termsOfService: https://www.twitch.tv/p/legal/terms-of-service/
servers:
- url: https://api.twitch.tv/helix
  description: Twitch Helix API Production
security:
- oauth2: []
- appAccessToken: []
tags:
- name: Conduits
  description: Manage EventSub conduits and shards
paths:
  /conduits:
    get:
      operationId: getConduits
      summary: Twitch Get Conduits
      description: Gets the conduits for a client ID.
      tags:
      - Conduits
      parameters:
      - $ref: '#/components/parameters/clientId'
      responses:
        '200':
          description: Conduits returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Conduit'
    post:
      operationId: createConduit
      summary: Twitch Create Conduit
      description: Creates a new conduit.
      tags:
      - Conduits
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - shard_count
              properties:
                shard_count:
                  type: integer
      responses:
        '200':
          description: Conduit created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Conduit'
    patch:
      operationId: updateConduit
      summary: Twitch Update Conduit
      description: Updates a conduit's shard count.
      tags:
      - Conduits
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              - shard_count
              properties:
                id:
                  type: string
                shard_count:
                  type: integer
      responses:
        '200':
          description: Conduit updated successfully
    delete:
      operationId: deleteConduit
      summary: Twitch Delete Conduit
      description: Deletes a specified conduit.
      tags:
      - Conduits
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: id
        in: query
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Conduit deleted successfully
  /conduits/shards:
    get:
      operationId: getConduitShards
      summary: Twitch Get Conduit Shards
      description: Gets the shards for a conduit.
      tags:
      - Conduits
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: conduit_id
        in: query
        required: true
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/after'
      responses:
        '200':
          description: Conduit shards returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConduitShard'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    patch:
      operationId: updateConduitShards
      summary: Twitch Update Conduit Shards
      description: Updates shard transport for a conduit.
      tags:
      - Conduits
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - conduit_id
              - shards
              properties:
                conduit_id:
                  type: string
                shards:
                  type: array
                  items:
                    type: object
                    required:
                    - id
                    - transport
                    properties:
                      id:
                        type: string
                      transport:
                        type: object
                        required:
                        - method
                        properties:
                          method:
                            type: string
                            enum:
                            - webhook
                            - websocket
                          callback:
                            type: string
                          secret:
                            type: string
                          session_id:
                            type: string
      responses:
        '202':
          description: Shards updated successfully
components:
  schemas:
    Conduit:
      type: object
      properties:
        id:
          type: string
        shard_count:
          type: integer
    Pagination:
      type: object
      properties:
        cursor:
          type: string
          description: Cursor value for pagination
    ConduitShard:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        transport:
          type: object
          properties:
            method:
              type: string
            callback:
              type: string
            session_id:
              type: string
            connected_at:
              type: string
              format: date-time
            disconnected_at:
              type: string
              format: date-time
  parameters:
    clientId:
      name: Client-Id
      in: header
      required: true
      schema:
        type: string
      description: Your registered application's client ID
    after:
      name: after
      in: query
      schema:
        type: string
      description: Cursor for forward pagination
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code Flow
      flows:
        authorizationCode:
          authorizationUrl: https://id.twitch.tv/oauth2/authorize
          tokenUrl: https://id.twitch.tv/oauth2/token
          scopes:
            analytics:read:extensions: View analytics data for extensions
            analytics:read:games: View analytics data for games
            bits:read: View Bits information
            channel:edit:commercial: Run commercials on a channel
            channel:manage:broadcast: Manage a channel's broadcast configuration
            channel:manage:moderators: Add and remove channel moderators
            channel:manage:polls: Manage a channel's polls
            channel:manage:predictions: Manage a channel's predictions
            channel:manage:raids: Manage a channel's raids
            channel:manage:redemptions: Manage channel points custom rewards and their redemptions
            channel:manage:schedule: Manage a channel's stream schedule
            channel:manage:videos: Manage a channel's videos
            channel:read:editors: View a channel's editors
            channel:read:goals: View a channel's goals
            channel:read:hype_train: View Hype Train information
            channel:read:polls: View a channel's polls
            channel:read:predictions: View a channel's predictions
            channel:read:redemptions: View channel points custom rewards and their redemptions
            channel:read:stream_key: Read an authorized user's stream key
            channel:read:subscriptions: View a channel's subscribers
            chat:edit: Send live stream chat messages
            chat:read: View live stream chat messages
            clips:edit: Create clips
            moderation:read: View a channel's moderation data
            moderator:manage:announcements: Send announcements in channels
            moderator:manage:automod: Manage messages held by AutoMod
            moderator:manage:banned_users: Ban and unban users
            moderator:manage:blocked_terms: Manage blocked terms
            moderator:manage:chat_messages: Delete chat messages
            moderator:manage:chat_settings: Manage chat settings
            moderator:read:chatters: View the chatters in a channel
            moderator:read:followers: Read the followers of a channel
            user:edit: Manage a user's account
            user:manage:blocked_users: Manage user's block list
            user:manage:whispers: Send whisper messages
            user:read:blocked_users: View a user's block list
            user:read:broadcast: View a user's broadcasting configuration
            user:read:email: View a user's email address
            user:read:follows: View the list of channels a user follows
            user:read:subscriptions: View a user's subscriptions
            whispers:read: View whisper messages
    appAccessToken:
      type: http
      scheme: bearer
      description: App Access Token obtained via Client Credentials grant
externalDocs:
  description: Twitch API Reference
  url: https://dev.twitch.tv/docs/api/reference
