openapi: 3.2.0
info:
  title: Twitch Extensions Pubsub API
  description: APIs for building interactive extensions that run as overlays or panels on Twitch channels. Extensions enable developers to create interactive experiences using a sandboxed iframe, with access to configuration, transactions, and live channel data.
  version: '1.0'
  contact:
    name: Twitch Developer Support
    url: https://dev.twitch.tv/support/
  termsOfService: https://www.twitch.tv/p/legal/terms-of-service/
servers:
- url: https://api.twitch.tv/helix
  description: Twitch Helix API Production
security:
- oauth2: []
tags:
- name: Pubsub
  description: Extension PubSub messaging
paths:
  /extensions/pubsub:
    post:
      operationId: sendExtensionPubSubMessage
      summary: Twitch Send Extension PubSub Message
      description: Sends a PubSub message to one or more channels the extension is installed on.
      tags:
      - Pubsub
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - target
              - broadcaster_id
              - message
              properties:
                target:
                  type: array
                  items:
                    type: string
                  description: Target recipients (broadcast, global, or whisper-<user_id>)
                broadcaster_id:
                  type: string
                is_global_broadcast:
                  type: boolean
                message:
                  type: string
                  maxLength: 5120
      responses:
        '204':
          description: PubSub message sent successfully
components:
  parameters:
    clientId:
      name: Client-Id
      in: header
      required: true
      schema:
        type: string
      description: Your registered application's client ID
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://id.twitch.tv/oauth2/authorize
          tokenUrl: https://id.twitch.tv/oauth2/token
          scopes:
            user:read:broadcast: View a user's broadcasting configuration
            user:edit:broadcast: Edit a user's broadcasting configuration
externalDocs:
  description: Twitch Extensions Documentation
  url: https://dev.twitch.tv/docs/extensions/
