openapi: 3.2.0
info:
  title: Twitch Helix Channels API
  description: The Twitch Helix API provides programmatic access to Twitch platform features including streams, users, videos, clips, channels, chat, subscriptions, moderation, polls, predictions, and more.
  version: '1.0'
  contact:
    name: Twitch Developer Support
    url: https://dev.twitch.tv/support/
  termsOfService: https://www.twitch.tv/p/legal/terms-of-service/
servers:
- url: https://api.twitch.tv/helix
  description: Twitch Helix API Production
security:
- oauth2: []
- appAccessToken: []
tags:
- name: Channels
  description: Manage channel information and editors
paths:
  /channels:
    get:
      operationId: getChannelInformation
      summary: Twitch Get Channel Information
      description: Gets information about one or more channels.
      tags:
      - Channels
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: broadcaster_id
        in: query
        required: true
        schema:
          type: string
        description: The ID of the broadcaster
      responses:
        '200':
          description: Channel information returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      operationId: modifyChannelInformation
      summary: Twitch Modify Channel Information
      description: Updates a channel's properties.
      tags:
      - Channels
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: broadcaster_id
        in: query
        required: true
        schema:
          type: string
        description: The ID of the broadcaster
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                game_id:
                  type: string
                  description: The current game/category ID
                broadcaster_language:
                  type: string
                  description: The language of the channel (BCP 47)
                title:
                  type: string
                  description: The title of the stream
                delay:
                  type: integer
                  description: Stream delay in seconds
                tags:
                  type: array
                  items:
                    type: string
                  description: Channel tags
      responses:
        '204':
          description: Channel updated successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /channels/editors:
    get:
      operationId: getChannelEditors
      summary: Twitch Get Channel Editors
      description: Gets a list of users who are editors for the specified channel.
      tags:
      - Channels
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: broadcaster_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Channel editors returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChannelEditor'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /channels/followers:
    get:
      operationId: getChannelFollowers
      summary: Twitch Get Channel Followers
      description: Gets a list of users that follow the specified broadcaster.
      tags:
      - Channels
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: broadcaster_id
        in: query
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        schema:
          type: string
        description: Filter by specific follower user ID
      - $ref: '#/components/parameters/first'
      - $ref: '#/components/parameters/after'
      responses:
        '200':
          description: Followers returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Follower'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    BadRequest:
      description: The request was invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required or token is invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        status:
          type: integer
        message:
          type: string
    Follower:
      type: object
      properties:
        user_id:
          type: string
        user_login:
          type: string
        user_name:
          type: string
        followed_at:
          type: string
          format: date-time
    Channel:
      type: object
      properties:
        broadcaster_id:
          type: string
        broadcaster_login:
          type: string
        broadcaster_name:
          type: string
        broadcaster_language:
          type: string
        game_id:
          type: string
        game_name:
          type: string
        title:
          type: string
        delay:
          type: integer
        tags:
          type: array
          items:
            type: string
        content_classification_labels:
          type: array
          items:
            type: string
        is_branded_content:
          type: boolean
    ChannelEditor:
      type: object
      properties:
        user_id:
          type: string
        user_name:
          type: string
        created_at:
          type: string
          format: date-time
    Pagination:
      type: object
      properties:
        cursor:
          type: string
          description: Cursor value for pagination
  parameters:
    clientId:
      name: Client-Id
      in: header
      required: true
      schema:
        type: string
      description: Your registered application's client ID
    first:
      name: first
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100
      description: Maximum number of items to return
    after:
      name: after
      in: query
      schema:
        type: string
      description: Cursor for forward pagination
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code Flow
      flows:
        authorizationCode:
          authorizationUrl: https://id.twitch.tv/oauth2/authorize
          tokenUrl: https://id.twitch.tv/oauth2/token
          scopes:
            analytics:read:extensions: View analytics data for extensions
            analytics:read:games: View analytics data for games
            bits:read: View Bits information
            channel:edit:commercial: Run commercials on a channel
            channel:manage:broadcast: Manage a channel's broadcast configuration
            channel:manage:moderators: Add and remove channel moderators
            channel:manage:polls: Manage a channel's polls
            channel:manage:predictions: Manage a channel's predictions
            channel:manage:raids: Manage a channel's raids
            channel:manage:redemptions: Manage channel points custom rewards and their redemptions
            channel:manage:schedule: Manage a channel's stream schedule
            channel:manage:videos: Manage a channel's videos
            channel:read:editors: View a channel's editors
            channel:read:goals: View a channel's goals
            channel:read:hype_train: View Hype Train information
            channel:read:polls: View a channel's polls
            channel:read:predictions: View a channel's predictions
            channel:read:redemptions: View channel points custom rewards and their redemptions
            channel:read:stream_key: Read an authorized user's stream key
            channel:read:subscriptions: View a channel's subscribers
            chat:edit: Send live stream chat messages
            chat:read: View live stream chat messages
            clips:edit: Create clips
            moderation:read: View a channel's moderation data
            moderator:manage:announcements: Send announcements in channels
            moderator:manage:automod: Manage messages held by AutoMod
            moderator:manage:banned_users: Ban and unban users
            moderator:manage:blocked_terms: Manage blocked terms
            moderator:manage:chat_messages: Delete chat messages
            moderator:manage:chat_settings: Manage chat settings
            moderator:read:chatters: View the chatters in a channel
            moderator:read:followers: Read the followers of a channel
            user:edit: Manage a user's account
            user:manage:blocked_users: Manage user's block list
            user:manage:whispers: Send whisper messages
            user:read:blocked_users: View a user's block list
            user:read:broadcast: View a user's broadcasting configuration
            user:read:email: View a user's email address
            user:read:follows: View the list of channels a user follows
            user:read:subscriptions: View a user's subscriptions
            whispers:read: View whisper messages
    appAccessToken:
      type: http
      scheme: bearer
      description: App Access Token obtained via Client Credentials grant
externalDocs:
  description: Twitch API Reference
  url: https://dev.twitch.tv/docs/api/reference
