openapi: 3.2.0
info:
  title: Twitch Games API
  termsOfService: https://www.twitch.tv/p/legal/terms-of-service/
  version: '1.0'
  description: 'Operations tagged Games across 2 of this provider''s published API definitions: twitch-helix-openapi.yml, twitch-igdb-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.twitch.tv/helix
  description: Twitch Helix API Production
- url: https://api.igdb.com/v4
  description: IGDB API v4 Production
tags:
- name: Games
  description: Retrieve game/category information
paths:
  /games:
    get:
      operationId: getGames
      summary: Twitch Get Games
      description: Gets information about one or more games/categories.
      tags:
      - Games
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: id
        in: query
        schema:
          type: string
        description: The game/category ID
      - name: name
        in: query
        schema:
          type: string
        description: The game/category name
      - name: igdb_id
        in: query
        schema:
          type: string
        description: The IGDB ID of the game
      responses:
        '200':
          description: Games returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Game'
        '400':
          $ref: '#/components/responses/BadRequest'
      security:
      - oauth2: []
      - appAccessToken: []
    post:
      operationId: queryGames
      summary: Twitch Query Games
      description: Query the games endpoint using Apicalypse query language. Send the query as the request body in plain text format.
      tags:
      - Games
      parameters:
      - $ref: '#/components/parameters/clientId_2'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
              example: fields name,rating,summary,genres.name; where rating > 90; sort rating desc; limit 10;
      responses:
        '200':
          description: Games returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Game_2'
        '400':
          description: Invalid query syntax
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - oauth2: []
      - appAccessToken: []
    servers:
    - url: https://api.twitch.tv/helix
      description: Twitch Helix API Production
  /games/top:
    get:
      operationId: getTopGames
      summary: Twitch Get Top Games
      description: Gets games sorted by number of current viewers, most popular first.
      tags:
      - Games
      parameters:
      - $ref: '#/components/parameters/clientId'
      - $ref: '#/components/parameters/first'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      responses:
        '200':
          description: Top games returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Game'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
      security:
      - oauth2: []
      - appAccessToken: []
    servers:
    - url: https://api.twitch.tv/helix
      description: Twitch Helix API Production
  /games/count:
    post:
      operationId: countGames
      summary: Twitch Count Games
      description: Returns the count of games matching the query.
      tags:
      - Games
      parameters:
      - $ref: '#/components/parameters/clientId_2'
      requestBody:
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Count returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
      security:
      - oauth2: []
    servers:
    - url: https://api.igdb.com/v4
      description: IGDB API v4 Production
  /release_dates:
    post:
      operationId: queryReleaseDates
      summary: Twitch Query Release Dates
      description: Query game release dates across platforms and regions.
      tags:
      - Games
      parameters:
      - $ref: '#/components/parameters/clientId_2'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Release dates returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReleaseDate'
      security:
      - oauth2: []
    servers:
    - url: https://api.igdb.com/v4
      description: IGDB API v4 Production
components:
  responses:
    BadRequest:
      description: The request was invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required or token is invalid
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        status:
          type: integer
        message:
          type: string
    Game:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        box_art_url:
          type: string
        igdb_id:
          type: string
    Pagination:
      type: object
      properties:
        cursor:
          type: string
          description: Cursor value for pagination
    Game_2:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        summary:
          type: string
        storyline:
          type: string
        rating:
          type: number
          format: double
        rating_count:
          type: integer
        aggregated_rating:
          type: number
          format: double
        aggregated_rating_count:
          type: integer
        total_rating:
          type: number
          format: double
        total_rating_count:
          type: integer
        first_release_date:
          type: integer
          description: Unix timestamp
        category:
          type: integer
          description: 0=main_game, 1=dlc_addon, 2=expansion, 3=bundle, 4=standalone_expansion, 5=mod, 6=episode, 7=season, 8=remake, 9=remaster, 10=expanded_game, 11=port, 12=fork, 13=pack, 14=update
        status:
          type: integer
          description: 0=released, 2=alpha, 3=beta, 4=early_access, 5=offline, 6=cancelled, 7=rumored, 8=delisted
        genres:
          type: array
          items:
            type: integer
        platforms:
          type: array
          items:
            type: integer
        themes:
          type: array
          items:
            type: integer
        cover:
          type: integer
        screenshots:
          type: array
          items:
            type: integer
        artworks:
          type: array
          items:
            type: integer
        videos:
          type: array
          items:
            type: integer
        involved_companies:
          type: array
          items:
            type: integer
        franchises:
          type: array
          items:
            type: integer
        collection:
          type: integer
        similar_games:
          type: array
          items:
            type: integer
        url:
          type: string
        created_at:
          type: integer
        updated_at:
          type: integer
    ReleaseDate:
      type: object
      properties:
        id:
          type: integer
        game:
          type: integer
        platform:
          type: integer
        date:
          type: integer
          description: Unix timestamp
        region:
          type: integer
          description: 1=Europe, 2=North America, 3=Australia, 4=New Zealand, 5=Japan, 6=China, 7=Asia, 8=Worldwide, 9=Korea, 10=Brazil
        category:
          type: integer
          description: 0=YYYYMMMMDD, 1=YYYYMMMM, 2=YYYY, 3=YYYYQ1, 4=YYYYQ2, 5=YYYYQ3, 6=YYYYQ4, 7=TBD
        human:
          type: string
          description: Human-readable date string
        created_at:
          type: integer
        updated_at:
          type: integer
  parameters:
    clientId:
      name: Client-Id
      in: header
      required: true
      schema:
        type: string
      description: Your registered application's client ID
    before:
      name: before
      in: query
      schema:
        type: string
      description: Cursor for backward pagination
    first:
      name: first
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100
      description: Maximum number of items to return
    after:
      name: after
      in: query
      schema:
        type: string
      description: Cursor for forward pagination
    clientId_2:
      name: Client-ID
      in: header
      required: true
      schema:
        type: string
      description: Twitch application client ID
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code Flow
      flows:
        authorizationCode:
          authorizationUrl: https://id.twitch.tv/oauth2/authorize
          tokenUrl: https://id.twitch.tv/oauth2/token
          scopes:
            analytics:read:extensions: View analytics data for extensions
            analytics:read:games: View analytics data for games
            bits:read: View Bits information
            channel:edit:commercial: Run commercials on a channel
            channel:manage:broadcast: Manage a channel's broadcast configuration
            channel:manage:moderators: Add and remove channel moderators
            channel:manage:polls: Manage a channel's polls
            channel:manage:predictions: Manage a channel's predictions
            channel:manage:raids: Manage a channel's raids
            channel:manage:redemptions: Manage channel points custom rewards and their redemptions
            channel:manage:schedule: Manage a channel's stream schedule
            channel:manage:videos: Manage a channel's videos
            channel:read:editors: View a channel's editors
            channel:read:goals: View a channel's goals
            channel:read:hype_train: View Hype Train information
            channel:read:polls: View a channel's polls
            channel:read:predictions: View a channel's predictions
            channel:read:redemptions: View channel points custom rewards and their redemptions
            channel:read:stream_key: Read an authorized user's stream key
            channel:read:subscriptions: View a channel's subscribers
            chat:edit: Send live stream chat messages
            chat:read: View live stream chat messages
            clips:edit: Create clips
            moderation:read: View a channel's moderation data
            moderator:manage:announcements: Send announcements in channels
            moderator:manage:automod: Manage messages held by AutoMod
            moderator:manage:banned_users: Ban and unban users
            moderator:manage:blocked_terms: Manage blocked terms
            moderator:manage:chat_messages: Delete chat messages
            moderator:manage:chat_settings: Manage chat settings
            moderator:read:chatters: View the chatters in a channel
            moderator:read:followers: Read the followers of a channel
            user:edit: Manage a user's account
            user:manage:blocked_users: Manage user's block list
            user:manage:whispers: Send whisper messages
            user:read:blocked_users: View a user's block list
            user:read:broadcast: View a user's broadcasting configuration
            user:read:email: View a user's email address
            user:read:follows: View the list of channels a user follows
            user:read:subscriptions: View a user's subscriptions
            whispers:read: View whisper messages
    appAccessToken:
      type: http
      scheme: bearer
      description: App Access Token obtained via Client Credentials grant
x-refined-from:
- twitch-helix-openapi.yml
- twitch-igdb-openapi.yml
