openapi: 3.2.0
info:
  title: Twitch Helix Event Sub API
  description: The Twitch Helix API provides programmatic access to Twitch platform features including streams, users, videos, clips, channels, chat, subscriptions, moderation, polls, predictions, and more.
  version: '1.0'
  contact:
    name: Twitch Developer Support
    url: https://dev.twitch.tv/support/
  termsOfService: https://www.twitch.tv/p/legal/terms-of-service/
servers:
- url: https://api.twitch.tv/helix
  description: Twitch Helix API Production
security:
- oauth2: []
- appAccessToken: []
tags:
- name: EventSub
  description: Manage EventSub subscriptions
paths:
  /eventsub/subscriptions:
    get:
      operationId: getEventSubSubscriptions
      summary: Twitch Get EventSub Subscriptions
      description: Gets a list of your EventSub subscriptions.
      tags:
      - EventSub
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - enabled
          - webhook_callback_verification_pending
          - webhook_callback_verification_failed
          - notification_failures_exceeded
          - authorization_revoked
          - moderator_removed
          - user_removed
          - version_removed
      - name: type
        in: query
        schema:
          type: string
      - name: user_id
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/after'
      responses:
        '200':
          description: EventSub subscriptions returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventSubSubscription'
                  total:
                    type: integer
                  total_cost:
                    type: integer
                  max_total_cost:
                    type: integer
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      operationId: createEventSubSubscription
      summary: Twitch Create EventSub Subscription
      description: Creates an EventSub subscription.
      tags:
      - EventSub
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubSubscriptionInput'
      responses:
        '202':
          description: EventSub subscription created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventSubSubscription'
                  total:
                    type: integer
                  total_cost:
                    type: integer
                  max_total_cost:
                    type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
    delete:
      operationId: deleteEventSubSubscription
      summary: Twitch Delete EventSub Subscription
      description: Deletes an EventSub subscription.
      tags:
      - EventSub
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: id
        in: query
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Subscription deleted successfully
components:
  responses:
    BadRequest:
      description: The request was invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        status:
          type: integer
        message:
          type: string
    EventSubSubscriptionInput:
      type: object
      required:
      - type
      - version
      - condition
      - transport
      properties:
        type:
          type: string
          description: The subscription type
        version:
          type: string
          description: The version of the subscription type
        condition:
          type: object
          additionalProperties:
            type: string
          description: Conditions for the subscription
        transport:
          type: object
          required:
          - method
          properties:
            method:
              type: string
              enum:
              - webhook
              - websocket
              - conduit
            callback:
              type: string
              description: Webhook callback URL (required for webhook transport)
            secret:
              type: string
              description: Secret for webhook signature verification
            session_id:
              type: string
              description: WebSocket session ID (required for websocket transport)
            conduit_id:
              type: string
              description: Conduit ID (required for conduit transport)
    EventSubSubscription:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        type:
          type: string
        version:
          type: string
        condition:
          type: object
          additionalProperties:
            type: string
        created_at:
          type: string
          format: date-time
        transport:
          type: object
          properties:
            method:
              type: string
              enum:
              - webhook
              - websocket
              - conduit
            callback:
              type: string
            session_id:
              type: string
            conduit_id:
              type: string
        cost:
          type: integer
    Pagination:
      type: object
      properties:
        cursor:
          type: string
          description: Cursor value for pagination
  parameters:
    clientId:
      name: Client-Id
      in: header
      required: true
      schema:
        type: string
      description: Your registered application's client ID
    after:
      name: after
      in: query
      schema:
        type: string
      description: Cursor for forward pagination
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code Flow
      flows:
        authorizationCode:
          authorizationUrl: https://id.twitch.tv/oauth2/authorize
          tokenUrl: https://id.twitch.tv/oauth2/token
          scopes:
            analytics:read:extensions: View analytics data for extensions
            analytics:read:games: View analytics data for games
            bits:read: View Bits information
            channel:edit:commercial: Run commercials on a channel
            channel:manage:broadcast: Manage a channel's broadcast configuration
            channel:manage:moderators: Add and remove channel moderators
            channel:manage:polls: Manage a channel's polls
            channel:manage:predictions: Manage a channel's predictions
            channel:manage:raids: Manage a channel's raids
            channel:manage:redemptions: Manage channel points custom rewards and their redemptions
            channel:manage:schedule: Manage a channel's stream schedule
            channel:manage:videos: Manage a channel's videos
            channel:read:editors: View a channel's editors
            channel:read:goals: View a channel's goals
            channel:read:hype_train: View Hype Train information
            channel:read:polls: View a channel's polls
            channel:read:predictions: View a channel's predictions
            channel:read:redemptions: View channel points custom rewards and their redemptions
            channel:read:stream_key: Read an authorized user's stream key
            channel:read:subscriptions: View a channel's subscribers
            chat:edit: Send live stream chat messages
            chat:read: View live stream chat messages
            clips:edit: Create clips
            moderation:read: View a channel's moderation data
            moderator:manage:announcements: Send announcements in channels
            moderator:manage:automod: Manage messages held by AutoMod
            moderator:manage:banned_users: Ban and unban users
            moderator:manage:blocked_terms: Manage blocked terms
            moderator:manage:chat_messages: Delete chat messages
            moderator:manage:chat_settings: Manage chat settings
            moderator:read:chatters: View the chatters in a channel
            moderator:read:followers: Read the followers of a channel
            user:edit: Manage a user's account
            user:manage:blocked_users: Manage user's block list
            user:manage:whispers: Send whisper messages
            user:read:blocked_users: View a user's block list
            user:read:broadcast: View a user's broadcasting configuration
            user:read:email: View a user's email address
            user:read:follows: View the list of channels a user follows
            user:read:subscriptions: View a user's subscriptions
            whispers:read: View whisper messages
    appAccessToken:
      type: http
      scheme: bearer
      description: App Access Token obtained via Client Credentials grant
externalDocs:
  description: Twitch API Reference
  url: https://dev.twitch.tv/docs/api/reference
