openapi: 3.2.0
info:
  title: Twitch IGDB Characters API
  description: The Internet Game Database (IGDB) API provides comprehensive video game information including metadata, ratings, screenshots, videos, and media. IGDB is owned and operated by Twitch and uses Twitch OAuth for authentication. The API uses a POST-based query language called Apicalypse.
  version: '4.0'
  contact:
    name: IGDB Support
    url: https://api-docs.igdb.com/
  termsOfService: https://www.twitch.tv/p/legal/terms-of-service/
servers:
- url: https://api.igdb.com/v4
  description: IGDB API v4 Production
security:
- oauth2: []
tags:
- name: Characters
  description: Game character data
paths:
  /characters:
    post:
      operationId: queryCharacters
      summary: Twitch Query Characters
      description: Query game characters using Apicalypse query language.
      tags:
      - Characters
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Characters returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Character'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    clientId:
      name: Client-ID
      in: header
      required: true
      schema:
        type: string
      description: Twitch application client ID
  responses:
    Unauthorized:
      description: Authentication required or token is invalid
  schemas:
    Character:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        gender:
          type: integer
          description: 0=Male, 1=Female, 2=Other
        species:
          type: integer
          description: 1=Human, 2=Alien, 3=Animal, 4=Android, 5=Unknown
        mug_shot:
          type: integer
        games:
          type: array
          items:
            type: integer
        url:
          type: string
        created_at:
          type: integer
        updated_at:
          type: integer
  securitySchemes:
    oauth2:
      type: oauth2
      description: Twitch OAuth2 Client Credentials for IGDB access
      flows:
        clientCredentials:
          tokenUrl: https://id.twitch.tv/oauth2/token
          scopes: {}
externalDocs:
  description: IGDB API Documentation
  url: https://api-docs.igdb.com/
