openapi: 3.2.0
info:
  title: Twitch Helix Moderation API
  description: The Twitch Helix API provides programmatic access to Twitch platform features including streams, users, videos, clips, channels, chat, subscriptions, moderation, polls, predictions, and more.
  version: '1.0'
  contact:
    name: Twitch Developer Support
    url: https://dev.twitch.tv/support/
  termsOfService: https://www.twitch.tv/p/legal/terms-of-service/
servers:
- url: https://api.twitch.tv/helix
  description: Twitch Helix API Production
security:
- oauth2: []
- appAccessToken: []
tags:
- name: Moderation
  description: Manage channel moderation including bans, blocks, and AutoMod
paths:
  /moderation/banned:
    get:
      operationId: getBannedUsers
      summary: Twitch Get Banned Users
      description: Gets all users that the broadcaster has banned or timed out.
      tags:
      - Moderation
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: broadcaster_id
        in: query
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/first'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      responses:
        '200':
          description: Banned users returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BannedUser'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /moderation/bans:
    post:
      operationId: banUser
      summary: Twitch Ban User
      description: Bans a user from participating in the specified broadcaster's chat room or times them out.
      tags:
      - Moderation
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: broadcaster_id
        in: query
        required: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - user_id
                  properties:
                    user_id:
                      type: string
                    duration:
                      type: integer
                      description: Timeout duration in seconds (omit for permanent ban)
                    reason:
                      type: string
      responses:
        '200':
          description: User banned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    delete:
      operationId: unbanUser
      summary: Twitch Unban User
      description: Removes the ban or timeout on a user.
      tags:
      - Moderation
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: broadcaster_id
        in: query
        required: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '204':
          description: User unbanned successfully
        '400':
          $ref: '#/components/responses/BadRequest'
  /moderation/moderators:
    get:
      operationId: getModerators
      summary: Twitch Get Moderators
      description: Gets the moderators for the specified broadcaster's channel.
      tags:
      - Moderation
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: broadcaster_id
        in: query
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/first'
      - $ref: '#/components/parameters/after'
      responses:
        '200':
          description: Moderators returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Moderator'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      operationId: addChannelModerator
      summary: Twitch Add Channel Moderator
      description: Adds a moderator to the broadcaster's channel.
      tags:
      - Moderation
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: broadcaster_id
        in: query
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Moderator added successfully
    delete:
      operationId: removeChannelModerator
      summary: Twitch Remove Channel Moderator
      description: Removes a moderator from the broadcaster's channel.
      tags:
      - Moderation
      parameters:
      - $ref: '#/components/parameters/clientId'
      - name: broadcaster_id
        in: query
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Moderator removed successfully
  /moderation/automod/message:
    post:
      operationId: manageAutoModHeldMessage
      summary: Twitch Manage Held AutoMod Messages
      description: Allow or deny a message that was held by AutoMod.
      tags:
      - Moderation
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user_id
              - msg_id
              - action
              properties:
                user_id:
                  type: string
                msg_id:
                  type: string
                action:
                  type: string
                  enum:
                  - ALLOW
                  - DENY
      responses:
        '204':
          description: AutoMod message managed successfully
components:
  responses:
    BadRequest:
      description: The request was invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        status:
          type: integer
        message:
          type: string
    Moderator:
      type: object
      properties:
        user_id:
          type: string
        user_login:
          type: string
        user_name:
          type: string
    BannedUser:
      type: object
      properties:
        user_id:
          type: string
        user_login:
          type: string
        user_name:
          type: string
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        reason:
          type: string
        moderator_id:
          type: string
        moderator_login:
          type: string
        moderator_name:
          type: string
    BanResponse:
      type: object
      properties:
        broadcaster_id:
          type: string
        moderator_id:
          type: string
        user_id:
          type: string
        created_at:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
          nullable: true
    Pagination:
      type: object
      properties:
        cursor:
          type: string
          description: Cursor value for pagination
  parameters:
    clientId:
      name: Client-Id
      in: header
      required: true
      schema:
        type: string
      description: Your registered application's client ID
    before:
      name: before
      in: query
      schema:
        type: string
      description: Cursor for backward pagination
    first:
      name: first
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100
      description: Maximum number of items to return
    after:
      name: after
      in: query
      schema:
        type: string
      description: Cursor for forward pagination
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code Flow
      flows:
        authorizationCode:
          authorizationUrl: https://id.twitch.tv/oauth2/authorize
          tokenUrl: https://id.twitch.tv/oauth2/token
          scopes:
            analytics:read:extensions: View analytics data for extensions
            analytics:read:games: View analytics data for games
            bits:read: View Bits information
            channel:edit:commercial: Run commercials on a channel
            channel:manage:broadcast: Manage a channel's broadcast configuration
            channel:manage:moderators: Add and remove channel moderators
            channel:manage:polls: Manage a channel's polls
            channel:manage:predictions: Manage a channel's predictions
            channel:manage:raids: Manage a channel's raids
            channel:manage:redemptions: Manage channel points custom rewards and their redemptions
            channel:manage:schedule: Manage a channel's stream schedule
            channel:manage:videos: Manage a channel's videos
            channel:read:editors: View a channel's editors
            channel:read:goals: View a channel's goals
            channel:read:hype_train: View Hype Train information
            channel:read:polls: View a channel's polls
            channel:read:predictions: View a channel's predictions
            channel:read:redemptions: View channel points custom rewards and their redemptions
            channel:read:stream_key: Read an authorized user's stream key
            channel:read:subscriptions: View a channel's subscribers
            chat:edit: Send live stream chat messages
            chat:read: View live stream chat messages
            clips:edit: Create clips
            moderation:read: View a channel's moderation data
            moderator:manage:announcements: Send announcements in channels
            moderator:manage:automod: Manage messages held by AutoMod
            moderator:manage:banned_users: Ban and unban users
            moderator:manage:blocked_terms: Manage blocked terms
            moderator:manage:chat_messages: Delete chat messages
            moderator:manage:chat_settings: Manage chat settings
            moderator:read:chatters: View the chatters in a channel
            moderator:read:followers: Read the followers of a channel
            user:edit: Manage a user's account
            user:manage:blocked_users: Manage user's block list
            user:manage:whispers: Send whisper messages
            user:read:blocked_users: View a user's block list
            user:read:broadcast: View a user's broadcasting configuration
            user:read:email: View a user's email address
            user:read:follows: View the list of channels a user follows
            user:read:subscriptions: View a user's subscriptions
            whispers:read: View whisper messages
    appAccessToken:
      type: http
      scheme: bearer
      description: App Access Token obtained via Client Credentials grant
externalDocs:
  description: Twitch API Reference
  url: https://dev.twitch.tv/docs/api/reference
