openapi: 3.2.0
info:
  title: Twitch IGDB Companies API
  description: The Internet Game Database (IGDB) API provides comprehensive video game information including metadata, ratings, screenshots, videos, and media. IGDB is owned and operated by Twitch and uses Twitch OAuth for authentication. The API uses a POST-based query language called Apicalypse.
  version: '4.0'
  contact:
    name: IGDB Support
    url: https://api-docs.igdb.com/
  termsOfService: https://www.twitch.tv/p/legal/terms-of-service/
servers:
- url: https://api.igdb.com/v4
  description: IGDB API v4 Production
security:
- oauth2: []
tags:
- name: Companies
  description: Game company data
paths:
  /companies:
    post:
      operationId: queryCompanies
      summary: Twitch Query Companies
      description: Query game companies using Apicalypse query language.
      tags:
      - Companies
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Companies returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /involved_companies:
    post:
      operationId: queryInvolvedCompanies
      summary: Twitch Query Involved Companies
      description: Query companies involved in game development or publishing.
      tags:
      - Companies
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Involved companies returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InvolvedCompany'
components:
  parameters:
    clientId:
      name: Client-ID
      in: header
      required: true
      schema:
        type: string
      description: Twitch application client ID
  responses:
    Unauthorized:
      description: Authentication required or token is invalid
  schemas:
    Company:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        country:
          type: integer
        logo:
          type: integer
        start_date:
          type: integer
        url:
          type: string
        developed:
          type: array
          items:
            type: integer
        published:
          type: array
          items:
            type: integer
        parent:
          type: integer
        created_at:
          type: integer
        updated_at:
          type: integer
    InvolvedCompany:
      type: object
      properties:
        id:
          type: integer
        company:
          type: integer
        game:
          type: integer
        developer:
          type: boolean
        publisher:
          type: boolean
        porting:
          type: boolean
        supporting:
          type: boolean
        created_at:
          type: integer
        updated_at:
          type: integer
  securitySchemes:
    oauth2:
      type: oauth2
      description: Twitch OAuth2 Client Credentials for IGDB access
      flows:
        clientCredentials:
          tokenUrl: https://id.twitch.tv/oauth2/token
          scopes: {}
externalDocs:
  description: IGDB API Documentation
  url: https://api-docs.igdb.com/
