openapi: 3.1.0
info:
  title: Twitch Drops Ads Media API
  description: APIs for game developers to create and manage Drops campaigns that grant in-game rewards to Twitch viewers watching streamers play their game. Drops campaigns are managed through the Twitch Developer Console and fulfilled via the Helix API entitlements endpoints.
  version: '1.0'
  contact:
    name: Twitch Developer Support
    url: https://dev.twitch.tv/support/
  termsOfService: https://www.twitch.tv/p/legal/terms-of-service/
servers:
- url: https://api.twitch.tv/helix
  description: Twitch Helix API Production
security:
- oauth2: []
tags:
- name: Media
  description: Screenshots, artwork, and videos
paths:
  /screenshots:
    post:
      operationId: queryScreenshots
      summary: Twitch Query Screenshots
      description: Query game screenshots using Apicalypse query language.
      tags:
      - Media
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Screenshots returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Screenshot'
  /artworks:
    post:
      operationId: queryArtworks
      summary: Twitch Query Artworks
      description: Query game artworks using Apicalypse query language.
      tags:
      - Media
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Artworks returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Artwork'
  /game_videos:
    post:
      operationId: queryGameVideos
      summary: Twitch Query Game Videos
      description: Query game video references using Apicalypse query language.
      tags:
      - Media
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Game videos returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameVideo'
  /covers:
    post:
      operationId: queryCovers
      summary: Twitch Query Covers
      description: Query game cover art using Apicalypse query language.
      tags:
      - Media
      parameters:
      - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Covers returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cover'
components:
  schemas:
    GameVideo:
      type: object
      properties:
        id:
          type: integer
        game:
          type: integer
        name:
          type: string
        video_id:
          type: string
          description: YouTube video ID
    Screenshot:
      type: object
      properties:
        id:
          type: integer
        game:
          type: integer
        image_id:
          type: string
        url:
          type: string
        width:
          type: integer
        height:
          type: integer
    Cover:
      type: object
      properties:
        id:
          type: integer
        game:
          type: integer
        image_id:
          type: string
        url:
          type: string
        width:
          type: integer
        height:
          type: integer
    Artwork:
      type: object
      properties:
        id:
          type: integer
        game:
          type: integer
        image_id:
          type: string
        url:
          type: string
        width:
          type: integer
        height:
          type: integer
  parameters:
    clientId:
      name: Client-ID
      in: header
      required: true
      schema:
        type: string
      description: Twitch application client ID
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://id.twitch.tv/oauth2/token
          scopes: {}
externalDocs:
  description: Twitch Drops Documentation
  url: https://dev.twitch.tv/docs/drops/
